config/amqp.yml
config/database.yml
config/deploy.yml
config/redis.yml
config/currencies.yml
config/markets.yml
config/aws_s3.yml
logs/*
vendor/
Godeps/
pids/
public/web_assets/*
test*.go
backup_log
clean_log
upload_log_file_to_qiniu
api_v2
api_v4
otc
oauth
.idea
